{% extends 'search/base.html' %}

{% block content %}
{% load static %}
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Resultats de la recherche:</h2>
                        <div id="produit_sub">
                            {% for product in product %}
                            <span class="sub-obj">
                        <a href="{% url 'detail' product_id=product.id %}">
                            <span>
                                <div class="container" >
                                <span class="dot"><p class="score">{{product.score}}</p></span>
                                <img class="rounded mb-2" src="{{ product.img_url }}" alt="{{ product.name }}"  >
                                </div>
                                <h2>{{product.name}}</h2>

                                <br>

                            </span>
                        </a>




                                {% if product in fav %}
                                <a href="{% url 'delete' product_id=product.id %}"><i class="fas fa-save fa-3x red"></i></a>
                                {% else %}
                                <a href="{% url 'favorite' product_id=product.id %}"><i class="fas fa-save fa-3x green"></i></a>
                                {% endif %}




                                 </span>
                            {% endfor %}
                    </div>
                        </div>
                </div>
            </div>
        </section>

{% endblock %}
